:root {
  --primary: #5770FA;
  --secondary: #58FA7C;
  --accent: #FA576B;
  --background: #ffffff;
  --text: #2D1E3D;
  --border: #1d3557;
  --grey: #cccccc;
}

.dark-theme{
  --primary: #5770FA;
  --secondary: #58FA7C;
  --accent: #FA576B;
  --background: #000922;
  --text: #ffffff;
  --border: #ffffff;
  --grey: #cecece;
}
